body {
  background-color: hsl(185, 75%, 39%);
  text-align: center;
  font-family: 'sans-serif', montserrat;
  position: relative;
  padding-top: 100px;
}

.back-img-top {
  position: absolute;
  width: 50%;
  top: 0;
  left: 10px;
}

.back-img-bottom {
  position: absolute;
  width: 50%;
  top: 200px;
  right: 10px;
}

.container {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 35%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 100px;
}

.bg-img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.dp {
  border-style: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 100%;
  display: block;
  width: 30%;
  margin: auto;
  position: absolute;
  top: 120px;
  left: 155px;

}

p {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 10px;
}

.p {
  padding-top: 110px;
  margin: 0;
}

.vic {
  font-weight: bold;
  padding-right: 10px;
}

.box {
  display: block;
  margin: auto;
  width: 100%;
}

.box-one {
  padding-top: 20px;
  display: block;
  padding-left: 30px;
  float: left;
  width: 25%;
}

.box-two {
  padding-top: 20px;
  display: block;
  padding-left: 30px;
  float: left;
  width: 25%;
  margin: 0 auto;
}

.box-three {
  padding-top: 20px;
  display: block;
  padding-right: 30px;
  float: right;
  width: 25%;
}

h2 {
  margin: 0;
}

.sub {
  margin: 0;
}
